xsd/Dolby-2012-AD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dolby.com/schemas/2012/AD" xmlns:axd="http://www.dolby.com/schemas/2012/AD" xmlns:cpl="http://www.smpte-ra.org/schemas/429-7/2006/CPL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.smpte-ra.org/schemas/429-7/2006/CPL"/>
  <xs:element name="AuxData" type="axd:DataTrackFileAssetType"/>
  <xs:complexType name="DataTrackFileAssetType">
    <xs:complexContent>
      <xs:extension base="cpl:TrackFileAssetType">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataType" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
